.Rproj.user
.Rhistory
.RData
.Ruserdata
# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rapp.history
.Rhistory.RData
*-Ex.R
/*.Rcheck/
.Renviron
*.mp4
model_metrics
*.rds
*.csv
